.bl-bookThumb{
  position: relative;
}

.bl-bookThumb img {
    width: 500px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    transition: all 0.3s;
    box-sizing: border-box;
  }

  .bl-bookThumb-content {
    position: absolute;
    transform: skew(-25deg, 0deg);
    color: white;
  }
  
  .clickable {
    cursor: pointer;
  }
  
  .clickable:hover {
    opacity: 0.8;
  }

  .align-name {
    top: 10%;
    left: 42%;
    font-size: 20px;
    font-weight: bold;
  }

  .align-author {
    top: 21%;
    left: 38%;
    font-size: 16px;
  }

  .align-description {
    top: 34%;
    left: 32%;
    font-size: 15px;
  }

  .align-count {
    top: 68%;
    left: 12%;
    font-size: 18px;
  }

